:root {
    --primary-color: #610ce0;
    --secondary-color: rgb(101, 3, 88);
    --box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

body {
    text-align: center;
    font-family:'Courier New', Courier, monospace; 
    background-color: white;
}
body, html {
    margin-left:3%;
    margin-right:3%;
    margin-bottom:3%;
    margin-top:3%;
}
h1 {
    color: var(--primary-color);
    padding: 20px 30px 20px 30 px;
    margin: 20px 50px 60px 50px;
    border: 1px solid #183e6d;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    font-size: 36px;
    
}
h2 {
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    font-size: 32px;
}
h3 {
    color: rgb(4, 77, 73);
    font-size: 26px;
    padding-top: 20px;
} 
h5 {
    color: rgb(4, 77, 73);
    font-size: 22px;
    padding-top: 20px;
}
li {
    color: violet;
    list-style: none;
    text-decoration: none;
}
li:hover {
    color: blueviolet;
}
p {
    color: black;
    font-size: 20px;
    margin: 0 20px;
    padding: 15px;
}
.btn-primary {
   background-color: #f2f4f7;
   font-size: 28px;
   margin-top:30px;
}
.btn-primary:hover {
    background-color: rgb(185, 213, 236);
}
a {
    color: rgb(181, 19, 164);
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8%;
}
.imgMedium {
    width: 400px;
    height: auto;
   
}
.imgLarge {
    width: 600px;
    height: auto;
   
}

.imgSmall {
    width: 100px;
    height: auto;

}
.biography {
    display: flex;
    margin: 0 20px;
    justify-content: space-around;
}
.text-biography {
    text-align: left;
    justify-content: center;
}
.closing {
    color: rgb(48, 44, 44);
    text-align: left;
}
.places {
font-size: 28px;
padding: 15px;

}
.col {
    font-size: 22px;
    padding: 10px;
    flex: 1;
    box-shadow: var(--box-shadow);
   margin: 20px 50px 40px 50px;
   text-transform: capitalize;
}

